* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles/Contact.css */


.contact {
  padding: 4rem 2rem;
  max-width: 600px;
  margin: auto;
}
form {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
input, textarea {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #333;
  background: #1b1b1b;
  color: #fff;
}
button {
  background: #00ffc8;
  color: #111;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #00ddb3;
}

@media (max-width: 480px) {
  .contact {
    /* width: 100%; */
    padding: 0;
    margin: 0;
  }

  form {
    padding: 0;
    margin: 0;
  }

  input, textarea {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #333;
    background: #1b1b1b;
    color: #fff;
  }
}